rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para la colección 'users'
    match /users/{userId} {
      // Un usuario puede crear su propio perfil.
      allow create: if request.auth != null && request.auth.uid == userId;

      // Un usuario solo puede leer, actualizar o eliminar su propio perfil.
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;

      // Reglas para todas las subcolecciones de un usuario (habits, tasks, etc.)
      match /{collection}/{docId} {
        // Un usuario solo puede leer, escribir, actualizar o eliminar documentos en sus propias subcolecciones.
        allow read, write, update, delete: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
